geotrellis-app/docs/_build/
geotrellis-app/.cluster_id

geotrellis-app/project/boot
geotrellis-app/project/plugins/project
geotrellis-app/project/plugins/target
geotrellis-app/project/target
geotrellis-app/target
geotrellis-app/.ensime
\#*#
*~
.#*
.lib
*.aux.xml
*.jar
*.crc
_SUCCESS

*.pyc
geotrellis-app/.project
geotrellis-app/.classpath
geotrellis-app/.cache
geotrellis-app/.settings
geotrellis-app/.history
geotrellis-app/.idea
geotrellis-app/.vscode
.vscode
geotrellis-app/.DS_Store
geotrellis-app/*.iml
geotrellis-app/*.swp
geotrellis-app/*.swo
geotrellis-app/*.sublime-*

geotrellis-app/.ensime*

geotrellis-app/nohup.out

geotrellis-app/derby.log
geotrellis-app/metastore_db/
geotrellis-app/*.log

/geotrellis-app/data
/geotrellis-app/target
/geotrellis-app/.bsp
/geotrellis-app/project/project
/geotrellis-app/project/target

/data-download/data
/envs